<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>マイページ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div th:replace="common/header :: header"></div>

    <main>
        <div class="message" th:if="${message}" th:text="${message}"></div>
        <div class="container">
            <h2> マイページ</h2>
            <a th:href="@{/words/new}" class="add-word-button">新しいフレーズを追加</a>
            <a th:href="@{/}" class="back-to-top-button">トップページへ戻る</a>
        </div>

        <table class="word-table">
            <tr>
                <th>リアルフレーズ</th>
                <th>意味</th>
                <th>コメント</th>
                <th>カテゴリ</th>
                <th>操作</th>
            </tr>
            <tr th:each="word : ${words}">
                <td th:text="${word.english}"></td>
                <td th:text="${word.meaning}"></td>
                <td th:text="${word.comment}"></td>
                <td th:text="${word.category}"></td>
                <td>
                    <a th:href="@{/words/{id}/edit(id=${word.id})}" class="edit-button">編集</a>
                    <form th:action="@{/words/{id}/delete(id=${word.id})}" method="post">
                        <button type="submit" class="delete-button">削除</button>
                    </form>
                </td>
            </tr>
        </table>
    </main>

    <div th:replace="common/footer :: footer"></div>
</body>

</html>